{
  "extends": [
    "next/core-web-vitals",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/no-unescaped-entities": 2,
    "prettier/prettier": 1,
    "import/named": "warn",
    "import/default": "warn",
    "import/namespace": "warn",
    "@next/next/no-img-element": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "none",
        "caughtErrorsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "no-console": [
      "warn",
      {
        "allow": [
          "info",
          "warn",
          "error"
        ]
      }
    ]
  },
  "ignorePatterns": [
    "public/sw.js"
  ]
}
